@{
    ViewBag.Title = "Class Liste";
}

<h1>Course Offerings</h1>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClassList</title>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <% foreach (var classMaster in school.Classes) {  <%
        <tr>
            <td>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>
