@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Arkham University</h1>
    <p class="lead">The leading educator of criminology.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn-block" href="~/Home/ClassList">Class List &raquo;</a></p>
        <p> Checkout our latest class offerings</p>
    </div>
    <div class="col-md-4">
        <p><a class="btn-block" href="~/Home/UserClasses">Your Classes &raquo;</a></p>
        <p> Get information on your classes </p>
    </div>
    <div class="col-md-4">
        <p><a class="btn-block" href="~/Views/Home/EnrollClass">Learn more &raquo;</a></p>
        <p>Enroll in a class</p>
    </div>
</div>